name: Go Testing
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goVer:
        - 1.25.x
    steps:
    - uses: actions/checkout@v6
    - name: Setup go ${{ matrix.goVer }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.goVer }}
    - name: Go test
      run: |
        docker compose up -d
        sleep 10
        go test -v ./...
    - name: down
      if: always()
      run: |
        docker compose down -v
